* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

#container {
    /*background-color: #027ac2;*/
    background-image: url("https://images.unsplash.com/photo-1517849845537-4d257902454a?crop=entropy&cs=srgb&fm=jpg&ixid=M3w1MDk0MDh8MHwxfHNlYXJjaHwxfHxkb2d8ZW58MHx8fHwxNjk2MDIxMTI1fDA&ixlib=rb-4.0.3&q=85");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*z-index: -2;*/
    transition: all 0.1s ease;
}

.section-search {
    margin: 0 auto;
    padding: 30px;
}

button#search {
    border: hotpink solid 2px;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 105, 180, 1);
    color: white;
    z-index: +1;
    overflow: hidden;
    cursor: pointer;
}

button#search::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transition: all 0.1s ease;
    z-index: -1;
    border-radius: 10px;

}

button#search:hover::before {
    width: 100%;
}

button#search:hover {
    color: hotpink;
    border: hotpink solid 2px;
}

input {
    text-align: center;
    height: 30px;
    border: hotpink solid 2px;
    margin-bottom: 10px;
    font-size: 17px;
}

.search-text {
    line-height: 30px;
    text-align: center;
    width: 190px;
    height: 30px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.section-bar {
    position: relative;
    margin-bottom: 50px;
    width: 100vw;
}

#container .section-bar .bar-img {
    z-index: +1;
    margin: 0 20vw;
    width: 60vw;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
}

#container .section-bar .bar-img img{
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: hotpink solid 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

#container .section-bar .bar-btns {
    margin: 0 10vw;
    width: 80vw;
    position: absolute;
    bottom: 0px;
    display: none;
    justify-content: space-between;
}



.bar-btns .btnNav {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: hotpink;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    z-index: +1;
}

.btnNav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transition: all 0.2s ease;
    z-index: -1;
}

.btnNav:hover::before {
    width: 100%;
}

.bar-btns .btnNav:hover {
    color: hotpink;
    border: hotpink 2px solid;
}




